/.idea
/*.iml
/fresh-mall-admin/target
/fresh-mall-admin-api/target
/fresh-mall-app-api/target
/fresh-mall-common/target
/fresh-mall-framework/target
/fresh-mall-generator/target
/fresh-mall-system/target
/logs/*.log
/*.log
/*.gz
/fresh-mall-admin/fresh-mall-admin.iml
/fresh-mall-admin-api/fresh-mall-admin-api.iml
/fresh-mall-admin-api/*.iml
/fresh-mall-app-api/*.iml
/fresh-mall-common/fresh-mall-common.iml
/fresh-mall-framework/fresh-mall-framework.iml
/fresh-mall-generator/fresh-mall-generator.iml
/fresh-mall-system/fresh-mall-system.iml
